$accent-primary: #4b4b4b;
$accent-secondary: #1e63bd;
$accent-tertiary: #ede4c1;
$accent-quaternary: #d9d9d9;

$background-pureblack: #000;
$background-primary: #f8f7f3;
$background-secondary: #fff;
$background-tertiary: #e8e8e3;
$background-quaternary: #efefea;
$background-senary: #f3f3f3;
$background-secondary-contrary: #353535;
$background-primary-contrary: #fff;
$background-quaternary-contrary: #efefea;

$border-primary: #e8e8e3;
$border-primary-contrary: #f3f3f3;
$border-secondary: #ededed;
$border-tertiary: #4b4b4b;
$border-quaternary: #d9d7c9;

$text-primary: #121212;
$text-primary-contrary: #888;
$text-secondary: #484848;
$text-tertiary: #888;
$text-quaternary: #666;
$text-secondary-contrary: #fff;

$icon-primary: #121212;
$icon-secondary: #888;
$icon-quinary: #fff;

$alert-primary: #e84733;
$alert-secondary: #27ae60;

$accent-secondary-highlight: #1e63bd1a;
$alert-secondary-highlight: #27ae601a;

$button-text-primary: #fff;
$color-text-pentanary: #ccc;
$color-text-link: #4b4b4b;
$color-button-bg-cancel: #fff;
$color-pill-mlk-active: #e8e8e3;
$color-pill-langtab-mlk-active: #4b4b4b;
$color-pill-mlk: none;
$color-text-mlk-pill-create-selected: #595959;
$color-bg-mlk-pill-create: #efefea;
$color-text-mlk-pill-create: #595959;
$color-mlk-pill-create: #efefea;
$color-text-pill-mlk-create-preview: #595959;
$color-bg-pill-mlk-create-preview: #efefec;
$color-section-hover: #eee;
$color-hover-primary: #6b6b6b;
$color-hover-primary-mediaicons: #f3f3f3;
$color-button-primary: #4b4b4b;
$color-button-tertiary: #4b4b4b;
$color-button-border-primary: #4b4b4b;
$color-text-pinned-koo: #888;
$color-create-caret-text-color: #444;
$color-buy-voucher: #4b4b4b;
$color-carousel-dot-active: #4b4b4b;
$color-carousel-dot-inactive: #d8d8d8;
$color-tab-border: #121212;
$color-top-app-bar: #121212;
$color-top-app-bar-create-preview: #595959;
$color-top-app-bar-header: #fff;
$color-profile-tab: #4b4b4b;
$color-media-coverage-background: #fff;
$color-media-coverage-border: #4b4b4b;
$color-media-coverage-text: #4b4b4b;
$color-media-coverage-text-hover: #6b6b6b;
$color-exclusive-background: hsla(48,81%,86%,.7);
$color-poll-background-and-border: rgba(75,75,75,.05);
$color-poll-selected-option-background: rgba(75,75,75,.2);
$color-poll-option-background: rgba(75,75,75,.1);
$color-poll-winner-option-background: #4b4b4b;
$date-icon-color: 0;
$color-jackpot-streak: #e84733;
$color-rewardsp-bg-primary: #dcddbe;
$color-reward-innercard-bg: #dcddbe4d;